// colors
$main-pink: #edbfff;
$main-black: #454545;
$main-grey: #f9f9f9;
// font-sizes
$font-base: 16px;
$font-mid: 18px;
$font-small: 12px;
$title-mid: 24px;
$title-big: 30px;
$slider-title: 36px;
// font-families
$leagueGothic-regular: "league_gothicregular", arial, helvetica, sans-serif;
$openSans-light: "open_sanslight", arial, helvetica, sans-serif;
$openSans-extrabold: "open_sansextrabold", arial, helvetica, sans-serif;
// media queries
$phoneWide-widths: 480px;
$tablet-widths: 768px;
$desctop-widths: 960px;